

<<<<<<< HEAD
html, body, #map-canvas {
	height:400px; margin:0; padding:0; width: 100%;
		}

#map-canvas { 
	position:absolute;  
	z-index: 0;
}		

#search {
	position: relative; 
	z-index: 1; /* The z-index should be higher than Google Maps */
	width: 300px;
	height: auto;
	opacity: .45; /* Set the opacity for a slightly transparent Google Form */ 
	color: white;
}
=======
#map-canvas {
	height:250px; margin:0; padding:0; width: 100%;
		}

body{
	background-color:#4e968b;
}
.jumbotron{
	background-color: #206057;
	width: 100%;
	color: #FFAB00;
    border-style: groove;
    border-color: transparent;
    
}

.display-3{
	font-family: 'Tauri', sans-serif;
	text-shadow: 2px 2px  #1E3C38;
}

.container{
	color: white;
}

.footer{
	position: fixed;
    bottom: 0;
    right: 0;
    height: 18px;
    width: 100%;
    background-color:grey;
    font-family: 'Source Serif Pro', serif;
    font-size: 12px;
}

img {
    max-width: 30%;
    height: auto;
}

.item {
    width: 120px;
    min-height: 120px;
    max-height: auto;
    float: left;
    margin: 3px;
    padding: 3px; 
}

#map-canvas {
	height:250px; margin:0; padding:0; width: 100%;
	background-color: white;
	border: orange;
		}
>>>>>>> f3b3f4644f9ed0897acddf76b2059b6645d9c4b4
